.rdf-test-suite-cache/
.yarn/
components/
componentsjs-error-state.json
coverage/
documentation
engines/**/*.d.ts
engines/**/*.js
engines/**/*.js.map
!engines/**/spec/sparql-engine.js
node_modules/
packages/**/*.d.ts
packages/**/*.js
packages/**/*.js.map
